// All custom and bootstrap override variables in this file

// Colours
$primary-color:            #1f2020;
$secondary-color:          #797979;
$tertiary-color:           #a6b27c;
$body-color:                 $primary-color;
