// All custom and bootstrap override variables in this file
// Colours
$primary-color: #000000;
$secondary-color : #f0f0f075;
$contrast-color : rgba(0, 0, 0, 0.42);
$border : pink;
$box-shadows : 0 0 1px $contrast-color;

// overwriting bootstrap class
$base : $white;
$font-family-base: 'Libre Baskerville', serif;

// Overwriting bootstrap Grid breakpoints
$grid-breakpoints: ( 
  xs: 0, 
  sm: 676px, 
  md: 868px, 
  lg: 1092px, 
  xl: 1400px
  );

  .row {
  margin: 0 !important;
}

// Overwriting default table styling for links
td a, td a:focus, td a:hover,
th a, th a:focus, th a:hover {
  color: $base;
  outline: $base;
}
