.spreadsheet {
    position: relative;
    .add,
    .add:focus {
        width: 44px;
        height: 40px;
        border: 1px solid $tertiary-color;
        outline: none;
        box-shadow: none;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .fa-filter,
    .fa-sort {
        font-size: 2rem;
    }
}

#spreadsheet-data_wrapper {
    position: relative;
    display: block;
}

.dataTables_wrapper .dataTables_filter label {
    white-space: unset !important;
    text-align: unset !important;
    display: block !important;
    text-align: right !important;
}

.dataTables_wrapper .dataTables_filter input {
    border-radius: 30px;
    width: 100%;
    outline: none;
    box-shadow: $box-shadows;
    margin: 2.5% 0 2% auto;
    padding: 0 2.5%;
}

.page-count {
    width: 10%;
    border-radius: 30px;
    border: 1px solid $tertiary-color;
    box-shadow: $box-shadows;
}

.dataTables_length,
.dtr-title {
    display: none;
}

.dataTables_info {
    display: inline-block;
    padding: 1% 2%;
    margin-right: 10%;
    border-radius: 30px;
    border: 1px solid $tertiary-color;
    box-shadow: $box-shadows;
    text-align: center;
    @include media-breakpoint-up (sm) {
        margin-right: 7.5%;
        width: auto;
    }
    @include media-breakpoint-up (lg) {
        margin-right: 5%;
    }
}

.dataTables_paginate {
    display: inline-block;
    right: 0;
    bottom: 2.5%;
    margin-right: 2.5%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    span {
        display: none;
    }
}

.paginate_button {
    padding: 0 5px;
    color: $body-color;
}

.selected {
    background-color: rgba(0, 0, 0, 0.075);
}

.gift-card {
    background-color: $secondary-color;
    display: none;
    .step-1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .step-2,
    .step-3 {
        display: none;
    }
}
