.spreadsheet {
    .add, .add:focus {
        width: 44px;
        height: 40px;
        border: 1px solid $tertiary-color;
        outline: none;
        box-shadow: none;
    }

    .search {
        border-radius: 30px;
        width: 20%;
        min-width: 25%;
        outline: none;
        box-shadow: $box-shadows;
        
    }

    .page-count {
        width: 10%;
        border-radius: 30px;
        border: 1px solid $tertiary-color;
        box-shadow: $box-shadows;
    }

    .dataTables_length {
        display: none;
    }

    .dataTables_info { 
        width: 20%;
        padding: 10px 0;
        margin-left: auto;
        border-radius: 30px;
        border: 1px solid $tertiary-color;
        box-shadow: $box-shadows;
        text-align: center;

        @include media-breakpoint-up (lg){
            width: 10%;
        }
    }
    
}